.newsCardBody {
  width: 200px;
  height: 250px;
  position: relative;
}

.newsCardImg {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  position: relative;
}

.newsCardFilter {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 78, 194, 0) 43.84%, #004ec2 100%);
  opacity: 0.8;
  z-index: 1;
}
.carddatetitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 159px;
  left: 20px;
  bottom: 20px;
}
.date {
  font-weight: 800;
  font-size: 16px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  margin: 0;
  order: 0;
  flex-grow: 0;
  z-index: 2;
}
.title {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 2;
  color: #ffffff;
  word-wrap: break-word;
}
.calendarCardBody {
  width: 288px;
  height: 200px;
  position: relative;
}

.calendarCardImg {
  width: 288px;
  height: 200px;
  border-radius: 20px;
  position: relative;
}

.calendarCardFilter {
  width: 288px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 78, 194, 0) 43.84%, #004ec2 100%);
  opacity: 0.8;
  z-index: 1;
}
.calendarDatetitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 238px;
  bottom: 20.4%;
  left: 24px;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  position: absolute;
  left: 8.39%;
  top: 88.25%;
  bottom: 15.4%;
  z-index: 1;
}
.location svg {
  width: 15px;
}
.location span {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  align-items: center;
  color: #ffffff;
}
.calendarCardBody button {
  position: absolute;
  width: 78px;
  height: 34px;
  left: 27px;
  top: 14px;
  background: #ff290a;
  border: none;
  border-radius: 10px;
  z-index: 1;
  color: white;
}
.counter {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 34px;
  left: 198px;
  top: 18px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  border-radius: 20px 0px 0px 20px;
}
.counter p {
  z-index: 1;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  margin: 9px auto;
  line-height: 19px;
  color: #ffffff;
}
.TeamCardBody {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 0px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}
.TeamCardImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.TeamCardBody div {
  text-align: center;
}
.TeamCardBody div > p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  margin: 5px 10px;
}
.TeamCardBody div > span {
  margin: 0;
  color: #004ec2;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
}
