body {
  margin: 0;
  font-family: "Inter", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}
#root {
  background-image: url("background.png");
  background-position: 0px 600px;
  background-repeat: reapeat-y;
}
